In [1]:
##Table wise Function Application: pipe()
#Row or Column Wise Function Application: apply()
#Element wise Function Application: applymap()

In [8]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.pipe(adder,2)
print (df.apply(np.mean))

col1    0.345103
col2    0.030132
col3    0.146640
dtype: float64

In [4]:
import pandas as pd
import numpy as np        ###########Apply()  FUNCTION for row or col  wise fun

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.pipe(adder,2)  ####pipe()---->table wise f/n application
print (df.apply(np.mean))

col1   -0.177305
col2   -0.126851
col3   -0.503814
dtype: float64

In [3]:
import pandas as pd
import numpy as np
## here rnadom f/n generates 5rows,3col df labeled col1.. thean as no axis mentioned apply () used  row or col wise operation
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(np.mean)
print( df.apply(np.mean))

col1    0.496981
col2    0.508337
col3   -0.075454
dtype: float64

In [6]:
df['col1']

0    0.539184
1    1.553218
2    0.264575
3    0.170753
4   -0.042826
Name: col1, dtype: float64

In [7]:
df

       col1      col2      col3
0  0.539184  0.609707 -0.427534
1  1.553218  0.358618 -0.221130
2  0.264575  0.624231  1.219462
3  0.170753  0.363791 -0.452284
4 -0.042826  0.585340 -0.495784

In [8]:
df['col2']

0    0.609707
1    0.358618
2    0.624231
3    0.363791
4    0.585340
Name: col2, dtype: float64

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(np.mean,axis=1)
print (df.apply(np.mean))

col1    0.378166
col2    0.186677
col3   -0.181104
dtype: float64

In [12]:
df

       col1      col2      col3
0  0.786698  0.717207 -1.229570
1  0.254971 -0.429167  1.265057
2 -0.358715  1.266786 -0.325947
3 -0.721271  0.342485  0.260677
4  1.929148 -0.963925 -0.875739

In [13]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Calculate sum along columns (axis=0)
column_sum = df.sum(axis=0)

# Calculate sum along rows (axis=1)
row_sum = df.sum(axis=1)

In [14]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [15]:
row_sum

0    5
1    7
2    9
dtype: int64

In [17]:
column_sum

A     6
B    15
dtype: int64

In [18]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Calculate sum along columns (axis=0) ### axis =0 means rows vertical
column_sum = df.mean(axis=0)

# Calculate sum along rows (axis=1) ## axis=1 means colmns horzi
row_sum = df.mean(axis=1)

In [19]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [20]:
row_sum

0    2.5
1    3.5
2    4.5
dtype: float64

In [21]:
column_sum

A    2.0
B    5.0
dtype: float64

In [22]:
numbers = [1, 2, 3, 4, 5] 
squared = map(lambda x: x**2, numbers) ##here each number or element will be mapped i.e opertaion is executed on each element
squared_list = list(squared) # so each element squared
print(squared_list)

[1, 4, 9, 16, 25]

In [23]:
###applymap() on DataFrame and analogously map() on Series accept any Python function taking a single value and returning a single value.

In [38]:
import pandas as pd
import numpy as np

# My custom function
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.applymap(lambda x:x*100)
print (df.apply(np.mean))

col1    0.550981
col2   -0.058343
col3   -0.265943
dtype: float64

In [39]:
df

       col1      col2      col3
0  0.317673  0.270195 -1.836402
1  1.251893 -2.064890 -0.101022
2  0.485762 -0.186603 -1.446597
3  1.340972  0.642770  0.312555
4 -0.641397  1.046812  1.741751

In [40]:
print(df['col1'].map(lambda x:x*100))

0     31.767268
1    125.189295
2     48.576225
3    134.097191
4    -64.139725
Name: col1, dtype: float64

In [41]:
df['col2']

0    0.270195
1   -2.064890
2   -0.186603
3    0.642770
4    1.046812
Name: col2, dtype: float64

In [ ]:
###REINDEXING:changes the row labels and column labels of a DataFrame.

In [30]:
import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),#freq='D': Specifies the frequency of the dates. In this 'D' stands for day, so it generates daily dates.
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),# Tlist() Converts the NumPy array to a Python list.
   'D': np.random.normal(100, 10, size=(N)).tolist()#np.random.normal(center,width i,e spread,size) function from the NumPy library is used to generate random samples from a normal (Gaussian) distribution. 
})

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print (df_reindexed)

           A     C   B
0 2016-01-01  High NaN
2 2016-01-03   Low NaN
5 2016-01-06   Low NaN

In [31]:
df

            A     x         y       C           D
0  2016-01-01   0.0  0.387946    High   95.245096
1  2016-01-02   1.0  0.617312  Medium   96.419040
2  2016-01-03   2.0  0.986290     Low  110.586591
3  2016-01-04   3.0  0.298067     Low  106.649882
4  2016-01-05   4.0  0.138834  Medium  111.248582
5  2016-01-06   5.0  0.728325     Low  101.689669
6  2016-01-07   6.0  0.749576  Medium   83.769603
7  2016-01-08   7.0  0.501577     Low  106.178921
8  2016-01-09   8.0  0.689170    High   98.974751
9  2016-01-10   9.0  0.882386    High   94.715482
10 2016-01-11  10.0  0.223585  Medium   88.853942
11 2016-01-12  11.0  0.132536  Medium  101.038833
12 2016-01-13  12.0  0.719173     Low  100.259030
13 2016-01-14  13.0  0.340558     Low   99.531296
14 2016-01-15  14.0  0.529750     Low  111.540856
15 2016-01-16  15.0  0.756869    High   97.521433
16 2016-01-17  16.0  0.435401    High  102.532052
17 2016-01-18  17.0  0.948227  Medium   96.249135
18 2016-01-19  18.0  0.175434  Medium  103.593283
19 2016-01-20  19.0  0.880579  Medium   92.376632

In [42]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])

df1 = df1.reindex_like(df2)#to change the index of a DataFrame to match the index of another DataFrame. 
print (df1)

       col1      col2      col3
0  0.671969  0.478268  0.446302
1  0.925935  0.699043  2.264241
2 -0.300393  0.258807  1.216515
3 -2.117842 -0.111626 -0.424552
4  0.086390 -0.576980 -1.298501
5 -0.640456 -0.164094  1.739840
6  1.087987 -0.424595  0.633557

In [44]:
df2

       col1      col2      col3
0  0.093352 -0.009411 -0.986523
1  0.598546  1.046802 -1.881125
2 -0.254112  1.579877 -0.695877
3 -0.741129  1.115776  0.590612
4  0.770904  2.232122  1.441881
5 -0.449356  0.117395  0.169626
6  0.704301 -0.208711  0.236269

In [45]:
## df1.reindex_like(df2)
import pandas as pd

# Creating two example DataFrames with different indices
df1 = pd.DataFrame({'A': [1, 2, 3]}, index=[1, 2, 3])
df2 = pd.DataFrame({'B': [4, 5, 6]}, index=[2, 3, 4])

# Reindexing df1 to match the index of df2
df1 = df1.reindex_like(df2)
# here df1 compares with df2 there is no match in indices so o/p is NaN 
print(df1)

    B
2 NaN
3 NaN
4 NaN

In [ ]:
#pad/ffill − Fill values forward

#bfill/backfill − Fill values backward

#nearest − Fill from the nearest index values

In [47]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
print (df2.reindex_like(df1,method='ffill'))

       col1      col2      col3
0 -1.431542  0.724989 -1.231080
1  0.107928 -0.164539 -0.197619
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:
       col1      col2      col3
0 -1.431542  0.724989 -1.231080
1  0.107928 -0.164539 -0.197619
2  0.107928 -0.164539 -0.197619
3  0.107928 -0.164539 -0.197619
4  0.107928 -0.164539 -0.197619
5  0.107928 -0.164539 -0.197619

In [48]:
import pandas as pd
import numpy as np
 
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill limiting to 1:")
print (df2.reindex_like(df1,method='ffill',limit=1))

       col1      col2      col3
0 -0.395409 -2.059053 -0.702800
1 -0.852158  0.765843  0.123326
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0 -0.395409 -2.059053 -0.702800
1 -0.852158  0.765843  0.123326
2 -0.852158  0.765843  0.123326
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

In [49]:
#rename() method allows you to relabel an axis based on some mapping (a dict or Series) or an arbitrary function.

In [50]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print (df1)

print ("After renaming the rows and columns:")
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}))

       col1      col2      col3
0  0.663238 -0.060451 -0.800302
1  2.582179 -2.085384 -0.890040
2 -0.281200 -1.879414 -0.124148
3 -1.317666  1.017804  0.576793
4  0.130403  0.327313 -0.883603
5 -0.600445  0.945890 -0.447972
After renaming the rows and columns:
              c1        c2      col3
apple   0.663238 -0.060451 -0.800302
banana  2.582179 -2.085384 -0.890040
durian -0.281200 -1.879414 -0.124148
3      -1.317666  1.017804  0.576793
4       0.130403  0.327313 -0.883603
5      -0.600445  0.945890 -0.447972