In [5]:
import pandas as ss
import pandas as np 
s={'a':0.,'b':1.}
n=ss.Series(s) 
print(n)

a    0.0
b    1.0
dtype: float64

In [7]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

In [12]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [35]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])


# Drop rows with label 0
df = df.drop(0)

df

   a  b
1  3  4

In [32]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=['a', 'b'])

# Use a different variable name, e.g., df3, for the concatenated DataFrame
df3 = df.append(df2)
print(df3)

AttributeError: 'DataFrame' object has no attribute 'append'

In [22]:
df2

   a  b
0  5  6
1  7  8

In [54]:
#df3 = df.(concat(df2))
df3=pd.concat([df,df2])

In [42]:
df3

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [39]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.concat([df2])
df

AttributeError: 'DataFrame' object has no attribute 'concat'

In [47]:
df=df.append(df2)

AttributeError: 'DataFrame' object has no attribute 'append'

In [50]:
df3

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [49]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df3=df.concat([df2])
df3

AttributeError: 'DataFrame' object has no attribute 'concat'

In [51]:
df3

   a  b
0  1  2
1  3  4
0  5  6
1  7  8